<html>
	<head>
	    <title>Administración Juncal</title>
	    <meta name="viewport" content="minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	    <meta name="msapplication-tap-highlight" content="no" />
	    <meta name="format-detection" content="telephone=no" />
	
		<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
	    <link rel="stylesheet" href="custom/custom.css" type="text/css">
	    <link rel="stylesheet" href="keen/keen-ui.min.css">
	    
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="pwa/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	    <script src="phonegap.js"></script>		
	 	<script src="vendors/fastclick.min.js" type="text/javascript"></script>    	 	
	    	
	    <script src="vendors/jquery.min.js" type="text/javascript"></script>
	    <script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
		<script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>   
	    <script src="vendors/iscroll-min.js" type="text/javascript"></script>
	    
		<script src="mobileui/mui.min.js" type="text/javascript"></script>
		<script src="custom/data.js"></script>
	    <script src="custom/serviceClient.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div id="app" style="display: none;">	
			<div id="mui-screen" class="mui-viewport" :class="{colpaseleft:isLeftPanelCollapsed,colpaseright:isRightPanelCollapsed }">
				<div id="login-page" class="mui-page mui-scrollable">
					<div class="title-login">
	<!-- 					<h2>Administración Juncal</h2> -->
					</div>
					<div class="login-form">
						<div class="textbox-login">
							<ui-textbox 
								placeholder="Usuario"
								:invalid="login.invalidName"
								error="Nombre de usuario incorrecto"
								v-model="login.userName"	
							></ui-textbox>
							<ui-textbox
								placeholder="Contraseña"
								type="password"
								:invalid="login.invalidPassword"
								error="Contraseña incorrecta"
								v-model="login.password"
							></ui-textbox>
						</div>
						<div align="center">
							<div class="button-login"> 
								<ui-button 
									color="primary" 
									@click="goLogin"
									>Ingresar
								</ui-button>
								<ui-button 							
									class="button-texto-blanco"
									
									>Recuperar contraseña
								</ui-button>
							</div>
						</div>
					</div>
				</div>
				<div id="left-panel" v-show="showLeftPanel" class="mui-panel mui-left-panel">
					<div class="mui-panel-header">
	<!-- 					<div class='mui-panel-title'>Menu</div> -->
					</div>
					<div class="mui-panel-body">
						<div id='menuoptions'>
							<ui-menu 
								has-icons 
								color="primary"
								:options="menuOptions"  
								@select="selectItemLeftPanel">
							</ui-menu>
						</div>
					</div>
				</div>	
				<div id="mui-screen-page" class="mui-page">
					<div class="mui-page-header">
						<div class="icon-header">
							<ui-icon-button 
							 	icon="menu"
							 	color="primary"
							 	type="secondary" 
							 	@click="hideLeftMenu">
							</ui-icon-button>
						</div>
						<div class="icon-header">
							<ui-icon-button 
							 	icon="keyboard_arrow_left"
							 	color="primary"
							 	type="secondary" 
							 	@click="volverPagina">
							</ui-icon-button>
						</div>
						<div :class="isLeftPanelCollapsed?'title-header':'title-header ocultar-menu'" align="center">
							<p>Administracón Juncal</p>
						</div>
						<div class="logaut-header" align="left">
							<div style="display: inline-block;">
								<span>{{usuario.usuario}}</span>
							</div>
							<div style="display: inline-block; cursor: pointer;" class="align-v" >
								<ui-icon-button
		                            has-dropdown
		                            icon="keyboard_arrow_down"
		                            ref="dropdownButton1"
		                            size="normal"
		                            type="secondary"
		                        >
		                            <ui-menu
		                                contain-focus
		                                has-icons
		                                slot="dropdown"
		                                :options="opcionesUsuario"
		                                @select="selectItemUsuario"
		                                @close="$refs.dropdownButton1.closeDropdown()"
		                            ></ui-menu>
		                        </ui-icon-button>
	                        </div>
						</div>
					</div>
					<div class="mui-page-body">
					<!-- 			El resto va aqui -->
						<div id="mui-viewport" class="mui-viewport">	
							<div id="home-page" class="mui-page mui-scrollable"> 
	<!-- 							<div slot="header"> -->
	<!-- 								<h3>Test</h3> -->
	<!-- 							</div> -->
								<p style="text-align: center; margin-top: 50px; font-size: 26px;">Hola <strong style="color: #2196f3;">{{usuario.nombre}}</strong>. Bienvenido al sistema <strong style="color: #2196f3;">Administración Juncal</strong></p>
								<div align="center">
									<i class="material-icons" style="color: #2196f3; font-size: 120px;">
										account_balance										
									</i>
								</div>
							</div>
							
							
							<div id="list-buildings-page" class="mui-page mui-scrollable">
								<div slot="header">
									<h3>Edificios</h3>
								</div>
								<div class="table table-emp" style="margin-bottom: 80px;">
									<div class="heading">
										<div class="cell">
											<p>Nombre</p>
										</div>
										<div class="cell">
											<p>Dirección</p>
										</div>
<!--										<div class="cell">-->
<!--											<p>Barrio</p>-->
<!--										</div>-->
										<div class="cell" style="width: 6%;">
											<p>&nbsp;</p>
										</div>
									</div>
									<div class="row-cebra" v-for="b in buildings" @click="gotoBuilding(b)" style="cursor: pointer;">
										<div class="cell border-button">
											<p>{{b.name}}</p>
										</div>
										<div class="cell border-button">
											<p>{{b.address}}</p>
										</div>
<!--										<div class="cell border-button">-->
<!--											<p>{{b.label}}</p>-->
<!--										</div>-->
										<div class="cell border-button align-v key-sel" align="center">
											<i class="material-icons">
												keyboard_arrow_right										
											</i>
										</div>
									</div>
								</div>
							</div>
							
							
							<div id="building-page" class="mui-page mui-scrollable">
								<div slot="header">
									<h3>{{building.name}}</h3>
								</div>
								<div class="list-card-option">
									<div class="card-option-aux">
										<div class="div-title-card-aux align-v">
											<div class="material-icons" style="float: left; color: white; margin-right: 10px; border-radius: 11px;">
												attach_money
											</div>
											<h4 class="title-card-aux">Ingresar Pago</h4>
										</div>	
										<div class=card-contenido>
											<p style="min-height: 43%;">Ingreso de pagos a proveedores o pagos por concepto de gastos comunes o fondo de reserva</p>
										</div>	
										<div class="button-card" style="cursor: pointer;">
											<ui-button 
												color="primary" 
												@click="showNewTransactionForm"
												>Ingresar
											</ui-button>
										</div>
									</div>
									<div class="card-option-aux">
										<div class="div-title-card-aux align-v">
											<div class="material-icons" style="float: left; color: white; margin-right: 10px; border-radius: 11px;">
												domain_verification
											</div>
											<h4 class="title-card">Cerrar Mes</h4>
										</div>
										<div class=card-contenido>
											<p style="min-height: 43%;">Cierre del mes seleccionado. Dado los pagos realizados durante el mes se calcular los importes a abonar en el mes siguiente</p>
										</div>
										<div class="button-card" style="cursor: pointer;">
											<ui-button 
												color="primary" 
												>Ingresar
											</ui-button>
										</div>
									</div>
									<div class="card-option-aux">
										<div class="div-title-card-aux align-v">
											<div class="material-icons" style="float: left; color: white; margin-right: 10px; border-radius: 11px;">
												list_alt
											</div>
											<h4 class="title-card">Estado de cuenta</h4>
										</div>
										<div class=card-contenido>
											<p style="min-height: 43%;">Detalle del estado de cuenta del mes corriente</p>
										</div>
										<div class="button-card" style="cursor: pointer;">
											<ui-button 
												color="primary" 
												>Ingresar
											</ui-button>
										</div>
									</div>
									<div class="card-option-aux">
										<div class="div-title-card-aux align-v">
											<div class="material-icons" style="float: left; color: white; margin-right: 10px; border-radius: 11px;">
												people_alt
											</div>
											<h4 class="title-card">Copropietarios</h4>
										</div>
										<div class=card-contenido>
											<p style="min-height: 43%;">Listado de los copropietarios</p>
										</div>
										<div class="button-card" style="cursor: pointer;">
											<ui-button 
												color="primary" 
												>Ingresar
											</ui-button>
										</div>
									</div>
									<div class="card-option-aux">
										<div class="div-title-card-aux align-v">
											<div class="material-icons" style="float: left; color: white; margin-right: 10px; border-radius: 11px;">
												business
											</div>
											<h4 class="title-card">Unidades</h4>
										</div>
										<div class=card-contenido>
											<p style="min-height: 43%;">Detalle de las unidades del edificio</p>
										</div>
										<div class="button-card" style="cursor: pointer;">
											<ui-button 
												color="primary" 
												@click="gotoUnitsList"
												>Ingresar
											</ui-button>
										</div>
									</div>
									<div class="card-option-aux">
										<div class="div-title-card-aux align-v">
											<div class="material-icons" style="float: left; color: white; margin-right: 10px; border-radius: 11px;">
												notification_important
											</div>
											<h4 class="title-card">Notificaciones</h4>
										</div>
										<div class=card-contenido>
											<p style="min-height: 43%;">Avisos de reparaciones, reuniones u otros avisos de interes</p>
										</div>
										<div class="button-card" style="cursor: pointer;">
											<ui-button 
												color="primary" 
												@click=""
												>Ingresar
											</ui-button>
										</div>
									</div>
									<div class="card-option-aux">
										<div class="div-title-card-aux align-v">
											<div class="material-icons" style="float: left; color: white; margin-right: 10px; border-radius: 11px;">
												settings
											</div>
											<h4 class="title-card">Detalle</h4>
										</div>
										<div class=card-contenido>
											<p style="min-height: 43%;">Detalle y edición de la informanción asociada al edificio seleccionado</p>
										</div>
										<div class="button-card" style="cursor: pointer;">
											<ui-button 
												color="primary" 
												>Ingresar
											</ui-button>
										</div>
									</div>
								</div>
							</div>
							
							<div id="form-transaction-page" class="mui-page mui-scrollable">
								<div slot="header">
									<h3 >{{building.name}}</h3>
								</div>
								<ui-tabs fullwidth>
					                <ui-tab>
					                    <div slot="header" class="my-custom-tab-header">
					                       <span>Gastos</span>
					                    </div>
										<div>
											<fieldset class="fieldset-form-ingreso">
												<ui-select
									                label="Seleccione una unidad"
									                :options="building.units"
													@change="loadUnitBoxSettlementMonth"
									                v-model="transaction.unit"
									            ></ui-select>
									             <ui-select
									                label="Seleccionar mes"
									                :options="monthsLiquidation"
													@change="loadUnitBoxSettlementMonth"
									                v-model="transaction.monthLiquidation"
									            ></ui-select>
									            <div class="form-dos">
													<ui-textbox
														class="col-md-6"
														label="Monto"
														type="number"
														@blur="checkAmountTransaction"
														v-model="transaction.amount"	
													></ui-textbox>
													<ui-textbox
														label="Monto total a pagar"
														disabled
														class="col-md-6 textbox-fondo-blue"
														v-model="amountSettlementMonth">												
													</ui-textbox>
												</div>
												
												<div v-if="transaction.unitsBoxes.length > 0">
													<div class="form-dos" v-for="(unitBox, index) in unitsBoxesMonthsLiquidation">
														<div class="col-md-6">
															<div style="float: right;">		
																<ui-icon-button 
																	 icon="edit"
																	 color="primary"
																	 type="secondary">
																</ui-icon-button>									
															</div>
															<ui-textbox
																:label="unitBox.name"
																v-model="transaction.unitsBoxes[index].amount"
															></ui-textbox>
														</div>
														<ui-textbox
															label="Monto a pagar"
															disabled
															class="col-md-6 textbox-fondo-blue"
															v-model="unitBox.amountSettlementMonth">												
														</ui-textbox>
													</div>
												</div>
												
									             <ui-datepicker
									                icon="events"
									                orientation="landscape"
									                :lang="calendar"
									                picker-type="modal"
									                v-model="transaction.date"
									            	>Fecha
												</ui-datepicker>
												<ui-textbox
													label="Obsevaciones"
													v-model="transaction.observation"
												></ui-textbox>
											</fieldset>
											<div align="right" class="button-m" style="margin-top: 25px;">
												<ui-button 
													class="button-texto-blanco"
													
													>Restablecer
												</ui-button>
									            <ui-button 
													color="primary" 
													@click="saveTransaction('unit')"
													>Confirmar
												</ui-button>
											</div>
										</div>
					                </ui-tab>
					                <ui-tab>
										<div slot="header" class="my-custom-tab-header">
											<span>Proveedores</span>
										</div>
										<div>
											<fieldset class="fieldset-form-ingreso">
												<ui-select
													label="Seleccione el tipo de caja"
													:options="building.boxes"
													v-model="transaction.box"
												></ui-select>
												<div class="align-v" style="float: right; margin-left: 30px; margin-top: 15px;">
													<ui-icon-button 
														icon="add"
														color="primary"
														type="secondary" 
														@click="showFormNewSupplier">
													</ui-icon-button>
												</div>
												<ui-select
													label="Seleccione un proveedor"
													has-search
													:options="building.suppliers"
													v-model="transaction.supplier"
												></ui-select>
												<ui-textbox
													label="Monto"
													type="number"
													v-model="transaction.amount" 
												></ui-textbox>
												<ui-select
									                label="Seleccionar mes"
									                :options="monthsLiquidation"
									                v-model="transaction.monthLiquidation"
									            ></ui-select>
												<ui-textbox
													label="Nro. Factura"
													v-model="transaction.invoiceNumber" 
												></ui-textbox>
												<ui-datepicker
									                icon="events"
									                orientation="landscape"
									                :lang="calendar"
									                picker-type="modal"
									                v-model="transaction.date"
									            	>Fecha
												</ui-datepicker>
												<ui-textbox
													label="Obsevaciones"
													v-model="transaction.observation"
												></ui-textbox>
											</fieldset>
											<div align="right" class="button-m" style="margin-top: 25px;">
												<ui-button 
													class="button-texto-blanco"
													@click=""
													>Restablecer
												</ui-button>
												<ui-button 
													color="primary" 
													@click="saveTransaction('supplier')"
													>Confirmar
												</ui-button>
											</div>
										</div>
					                </ui-tab>
					            </ui-tabs>
							</div>
							
							
							<div id="units-list-page" class="mui-page mui-scrollable">
								<div slot="header">
									<h3>Unidades</h3>
								</div>
								<div align="right" style="margin-top: 15px; margin-bottom: 15px;">
									<ui-button 
										icon="add"
										icon-position="left"
										class="button-texto-blanco"
										@click=""
										>Nueva unidad
									</ui-button>
								</div>
								
								<div class="table table-emp">
									<div class="heading">
										<div class="cell">
											<p>Apto.</p>
										</div>
										<div class="cell">
											<p>Tipo unidad</p>
										</div>
										<div class="cell">
											<p>Coeeficiente</p>
										</div>
										<div class="cell">
											<p>Referencia</p>
										</div>
										<div class="cell">
											<p>Contacto</p>
										</div>
										<div class="cell">
											<p>&nbsp;</p>
										</div>
									</div>
									<div class="row-cebra" v-for="(unit, index) in units" style="cursor: pointer;">
										<div class="cell border-button">
											<p>{{unit.number}}</p>
										</div>
										<div class="cell border-button">
											<p v-if="unit.unitType== 'renter'">Inquilino</p>
											<p v-else-if="unit.unitType == 'owner'">Propietario</p>
										    <p v-else-if="unit.unitType == 'both'">Ambos</p>
										    <p v-else>S/N</p>
										</div>
										<div class="cell border-button">
											<p>{{unit.coefficient}}</p>
										</div>
										<div class="cell border-button">
											<p>{{unit.reference}}</p>
										</div>
										<div class="cell border-button">
											<p v-if="unit.person">{{unit.person.name}}</p>
    										<p v-else>S/N</p>
										</div>
										<div class="cell border-button align-v">
											<ui-icon-button 
											 	icon="zoom_in" 
											 	color="primary"
											 	type="secondary" 
											 	@click="">
											</ui-icon-button>
										</div>
									</div>
								</div>
							</div>
							
							
							
							
						</div>
					</div>
				</div>
			</div>
			<ui-modal ref="message-modal" :title="messageModal.title" align-top>
				<p style="text-align: center;">{{messageModal.message}}</p>
	           	<div slot="footer" class="button-m" align="right">
	                <ui-button 
	                	@click="closeModal('message-modal')"
	                	color="primary"
	                	>Cerrar
	                </ui-button>
	           </div>
	     	</ui-modal>
			<ui-modal ref="form-new-supplier-modal" size="normal" title="Ingreso de nuevo Proveedor" align-top> 
				<ui-textbox
					label="Nombre"
					v-model="newSupplier.name"
				></ui-textbox>
				<ui-textbox
					label="Dirección"
					v-model="newSupplier.address"
				></ui-textbox>
				<ui-textbox
					label="Teléfono"
					v-model="newSupplier.phone"
				></ui-textbox>
				<ui-textbox
					label="RUT"
					v-model="newSupplier.rut"
				></ui-textbox>
				<ui-textbox
					label="Email"
					v-model="newSupplier.email"
				></ui-textbox>
				<ui-textbox
					label="Observaciones"
					v-model="newSupplier.observation"
				></ui-textbox>
				<div slot="footer" class="button-m" align="right">
	                <ui-button 
	                	@click="saveNewSupplier"
	                	color="primary"
	                	>Guardar
	                </ui-button>
	                <ui-button 
	                	@click="closeModal('form-new-supplier-modal')"
	                	color="primary"
	                	>Cancelar
	                </ui-button>
	           </div>			
			</ui-modal>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="pwa/vue.js"></script>
	<script src="keen/keen-ui.min.js"></script>
	<script src="custom/serviceClient.js" type="text/javascript"></script>
	<script src="custom/data.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</body>
</html>