@CHARSET "UTF-8";

html {
    position: fixed;
    touch-action: manipulation;
    font-size: 100%;
}
body { 
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif;
    background-color: #2196f3;
}

*,
*::before,
*::after {
    box-sizing: border-box;   
}

.noclick {
    pointer-events: none;
}

#mui-screen-page {
       left: 16.75rem !important;
       right: 0px;
       width: auto;
       transition: left 0.5s;
}

#login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3498DB;
}

.login-form {
	position: relative;
	z-index: 1;
  	background: #FFFFFF;
 	max-width: 360px;
  	margin: 0 auto 100px;
  	padding: 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.textbox-login .ui-textbox__input {
	font-family: "Roboto", sans-serif;
  	outline: 0;
 	background-color: rgb(232, 240, 254);
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
}

.fieldset-login .ui-textbox__input {
	background-color: rgb(232, 240, 254) !important;
}

.form-login {
	background-color: #f5f8ff;
    width: 100%;
    margin: 0px;
    padding: 10px 20px;
}

.form-login p {
	text-align: center;
	color: #2196f3;
	margin-top: 0px;
	font-size: 20px;
}

.button-login .ui-button{
	width: 100%;
	margin-bottom: 10px;
}

.title-login {
	text-align: center;
	border-color: #2196f3;
}

.fieldset-login {
    border-radius: 20px;
    padding: 30px 25px;
    background-color: #f5f8ff;
    border-color: #2196f3;
}

.border-login {
	width: 25%;
    margin-left: auto;
    background-color: white;
    margin-right: auto;
    padding: 20px;
	border-radius: 20px;
}


.bnt-secondary-blue .ui-button__content{
	color: #2196f3
}



.form-login .button-m .ui-button {
/* 	margin: 0 10px; */
	width: 100%;
}

/**** Scrollbar (only Chrome) ********/

/*
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar:horizontal {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #ccc; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
*/

/**** MobileUI Overwrite ********/
#mui-screen > .mui-page > .mui-page-body {
  	top: 2.6rem;
}
#mui-screen > .mui-page > .mui-page-body.alert {
  	top: 7.6rem;
}
#mui-screen > .mui-page > .mui-page-header {
    height: 2.6rem;
    background-color: #eee;
}
.ui-alert {
	margin-top: 2px;
    padding-right: 40px;
}
.mui-panel .mui-panel-body {
    width: 100%;
}
.ui-button__content {
	color: white;
}
#mui-viewport > .mui-page > .mui-page-body {
	top: 85px;
    padding: 0 20px 50px 20px;
}
.mui-page-header {
    color: #2a022b;
    padding: 0 10px 0 0;
    display: flex;
	align-items: center;
}
#mui-viewport > .mui-page > .mui-page-header {
	height: auto;
}

.mui-panel-header {
	height: 41px;
	background-color: #eee; 
}
/**** Leftpanel ********/
#leftpanel-body {
	background-color: #2196f3;
}

#left-panel {
    width: 16.75rem;
    height: 100%;
	overflow: hidden;	
	background-color: #2196f3;
	left: 0px !important;
	visibility: visible !important;
    transition: left 0.5s;
    top: 0px;
}

.icon-header {
	display: inline-block;
	width: 30px;
}

.title-header {
	display: inline-block;	
	width: 160px;
    margin: 0 auto;
}

.title-header p{
	margin: 0px;
	color: #2196f3;
}

.logaut-header {
	padding-top: 6px;
	color: #2196f3;
}

.logaut-header .ui-icon {
	color: rgb(33 150 243);
}

/* /Soporte para el javascript de apertura/cierre del panel izquierdo/ */
.colpaseleft  #mui-screen-page {
    left: 0px !important;
}
.colpaseleft #left-panel {
    left: -16.75rem !important;
}

/**** RightPanel ********/
/*#right-panel {
    top: 0px;
    width: 13.75rem;
    padding: 10px;
    overflow: hidden;
}*/
#right-panel {
    display: none;
}
.colpaseleft  #mui-viewport {
    left: 0rem !important;
}
.colpaseright #right-panel {
    right: -13.75rem !important;
}


/* Menu */


#menuoptions {
/* 	top: 43px; */
	width: 100%;
	height: 100%;
}

#menuoptions .ui-button {
	width: 100%;
}

/* #menuoptions ..ui-button__content { */
/* 	color: white; */
/* } */

#menuoptions .ui-menu  {
	background-color: #2196f3;
	color: white;
	border: none;
}

#menuoptions .ui-menu-option__text {
	color: white;
}

#menuoptions .ui-icon {
	color: white;
}
/**** keen-ui fix ********/

#mui-screen > .mui-page > .mui-page-header .ui-toolbar__body {
    margin-left: -0.3rem;

}
#mui-screen > .mui-page > .mui-page-header .ui-toolbar {
    font-size: 1rem !important;
    margin-right: 0.3rem;
    -webkit-box-shadow: 0 0 0px rgba(0,0,0,0), 0 0px 0px rgba(0,0,0,0); 
    box-shadow: 0 0 0px rgba(0,0,0,0), 0 0px 0px rgba(0,0,0,0);
}
#mui-screen > .mui-page > .mui-page-header .ui-toolbar .ui-icon-button {
    width: 2.5em;
    height: 2.5em;
}

.ui-confirm_message .ui-checkbox_label-text  {
    font-size: .9375rem;
}

/**** Utils ***********/
.ui-toolbar__nav-icon > div {
    width: 13.75rem;
    text-align: center;
}
#logointra {
    width: 8rem;
}
/**** mui-nav-tree ************/

#leftpanel-body > div {
    padding: 15px 0px 15px 10px;
}
#rigthpanel-body > div {
    padding: 15px 5px 15px 15px;
    width:100%;
}

@media screen and (min-width: 981px) {

    #mui-screen-page {
        left: 16.75rem !important;
        right: 0px;
        width: auto;
        transition: left 0.5s;
    }
    #left-panel {
        left: 0px !important;
        visibility: visible !important;
        transition: left 0.5s;
        top: 0px;
    }
/*     /Right panel/ */
    #mui-viewport {
        right: 13.75rem !important;
        width: 100%;
        transition: right 0.5s;
		left: 0px;
    }
    .mui-page {
    	padding: 20px;
    	padding-bottom: 60px;
    	height: 100% !important;
    }
    .form-login {
    	width: 35% !important;
    	margin: 0px auto;
    }
    .fieldset-login{
    	width: 100%;
    }
    .form-login .button-m .ui-button{
/*     	margin: 0px 2%; */
    	width: 49% !important;
    }
    .col-md-6 {
		flex: 0 0 50% !important;
		margin: 0 2% 16px 1% !important;
		max-width: 47% !important;
	}
	.fieldset-form-ingreso {
		margin: 0px 10px !important;
	}
	.ocultar-menu {
		visibility: visible !important;
	}
	.table-1000 {
		width: 100% !important;
	}
	.table-scroll-l {
		overflow-x: hidden !important;
	}	
}  

@media screen and (min-width: 1300px) {
	.table-1300 {
		width: 100% !important;
	}
	.table-scroll-xl {
		overflow-x: hidden !important;
	}	
}

.table-1000 {
	width: 1000px;
}
.table-scroll-l {
	overflow-x: hidden;
}	

.table-scroll-xl {
		overflow-x: scroll;
}	

.table-scroll {
	overflow-x: scroll;
}

.table-1300 {
	width: 1300px;
}

.table-1000 {
		width: 100%;
	}

.text-susp {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 250px;
}

.ocultar-menu {
	visibility: hidden;
}



@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Menu button ------------------------------------------------------------------ */
/* .mui-headmenu { */
/* 	position: absolute; */
/* 	top: 10px; */
/* 	left: 10px; */
/* 	width: 30px; */
/* 	height: 37px; */
/* 	text-align: right; */
/* } */
/* .mui-headmenu:after { */
/* 	font-family: FontAwesome; */
/* 	content: '\f0c9'; */
/* 	font-size: 25px; */
/* 	color: #1A7EFA; */
/* } */

#mui-screen-page > .mui-scroll-wrapper {
	height: 100%;	
}

mui-page {
   	padding-bottom: 60px;
   	height: 100% !important;
   	background-color: #eee0;
}

.mui-page-header {
	height: 37px;
	background-color: #ecf0f1;
	border-bottom: solid 1px #bbb;
	align-items: center;
	
}
/* .mui-page-logo { */
/* 	width: 40px; */
/* 	height: 40px; */
/* 	margin: auto; */
/* 	background-position: center; */
/* 	background-image: url(images/logo-40.png); */
/* 	background-repeat: no-repeat; */
/* } */
.mui-page-title {
	width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}
.mui-page-body {
	position: relative;
	height: 100%;
}
.mui-page-body-content {
	padding: 10px;
}

#api-page ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#api-page ul li {
	margin: 7px;
	text-align: center;
}
#api-page ul li a {
	width: 250px;
	margin: auto;
}

/* Tabbar sample ------------------------------------------------------------------ */
.mui-tabbar {
	width: 100%;
	height: 48px;
	position: absolute;
	bottom: 0px;
	background-color: #FAFAF9;
}
.mui-tabbar ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.mui-tabbar ul li {
	width: 20%;
	height: 48px;
	float: left;
	position: relative;
}
.mui-tabbar ul li:before {
	font-family: 'FontAwesome';
	font-size: 27px;
	display: block;
	width: 100%;
	height: 26px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 0px;
	content: ' ';	
	margin-top: 5px;
}
.mui-tabbar ul li:hover:before {
	/*background-position: center -27px;*/
}
.mui-tabbar ul li:nth-child(1):before {
	content: "\f015";
	/*background-image: url(images/tab1.png);*/ 
}
.mui-tabbar ul li:nth-child(2):before {
	content: "\f08e";
	font-size: 25px;
	padding-top: 2px;
	/*background-image: url(images/tab2.png);*/
}
.mui-tabbar ul li:nth-child(3):before {
	content: "\f10a";
	/*background-image: url(images/tab3.png);*/
}
.mui-tabbar ul li:nth-child(4):before {
	content: "\f082";
	/*background-image: url(images/tab4.png);*/
}
.mui-tabbar ul li:nth-child(5):before {
	content: "\f05a";
	/*background-image: url(images/tab5.png);*/
}
.mui-tabbar ul li a {
	font-size: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 48px;
    top: 0px;
    left: 0px;
    padding-top: 33px;
}

/* List sample ------------------------------------------------------------------  */
.mui-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.mui-list li {
	border-bottom: 1px solid #ccc;
	position: relative;
}
.mui-list li a {
	padding: 13px 10px;
}
/*List with disclosure sample ------------------------------------------------------------------ */
.mui-list-disclosure li:after{
	font-family: FontAwesome;
	color: #777;
    position: absolute;
    width: 9px;
    height: 13px;
    top: 50%;
    right: 8px;
    margin-top: -9px;
    content: '\f105';
    font-size: 20px; 
}

.page--ui-menu {
    .popover-trigger {
        display: inline-block;
        padding: 6px 12px;
        font-family: $font-stack;
        font-size: 16px;
    }
}



/* Tablas */

.table {
	display: table;
}
.heading {
	background-color: #8199ad;
	color: white;
	display: table-row;
	font-weight: bold;
	padding: 0px 10px;
}

.row {
	display: table-row;
	padding: 0px 10px;
}

.row:hover{
	background-color: #f3f3f3;
}

.row-cebra {
	display: table-row;
	padding: 0px 10px;
}

.row-10 {
	line-height: 10px;
}

.row-cebra:nth-child(even) {
    background-color: #fff;
}


.row-cebra:nth-child(odd) {
    background-color: #f8f9fb;
}

.row-cebra:hover{
	background-color: #f3f3f3;
}

.row-cebra:hover .key-sel {
	background-color: #8199ad;
    color: white;
    border-radius: 15px 0px 0px 15px;
}

.cell {
	display: table-cell;
	padding: 0px 10px;
}

.border{
	border: 1px solid #d7d9da; 
}

.border-top-button {
	border-top: 3px solid #8199ad;
    border-bottom: 2px solid #8199ad;
}

.border-button {
	border-bottom: 1px solid #d7d9da; 
}

.border-white {
	border: 1px solid white; 
}

.ui-menu-option:not(.is-divider):hover:not(.is-disabled), body[modality=keyboard] .ui-menu-option:not(.is-divider):focus {
    background-color: #f44336;
}

.table-emp {
	width: 100%;
	line-height: 50px;
}

/********************** Utilies **************************/

.mui-page h3 {
	color: rgb(33, 150, 243);
	padding: 0px 10px;
}

.align-v {
	vertical-align: middle;	
}

.list-card-option {
	display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card-contenido {
	min-height: 43%;
    height: 129px;
    margin: 0;
    background-color: #4580b1;
    color: white;
    padding: 10px 5px;
}

.card-option-aux {
	width: 300px;
	min-width: 300px;
	height: 230px;
    border: 2px solid #2196f3;
    text-align: center;
    margin: 10px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card-option {
	width: 300px;
	min-width: 300px;
	height: 230px;
    border: 2px solid #2196f3;
    border-radius: 20px;
    border-style: outset;
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.div-title-card-aux {
	background-color: #0d70bf;
    opacity: 0.8;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.div-title-card {
	background-color: #2196f3;opacity:0.8;
/* 	background-color: #2196f3; */
	height: 40px;
	display: flex;
	margin-top: 2px;
	align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.button-card .ui-button--type-primary.ui-button--color-primary {
    background-color: #0d70bf;
    opacity: 0.8;
    height: 57px;
    width: 100%;
}

.title-card {
    color: white;
    margin: 0;
}

.radio-monto {
	width: 186px;
    margin: 0px auto;
}

.form-dos {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
}

.col-md-6 {
	flex: 0 0 98%;
	margin: 0 0 16px 0;
}

.select-100{
	width: 100%;
}

.textbox-fondo-blue .ui-textbox__input{
	background-color: #d5e0fd;
}


/********************Botones******************************/

.ui-button {
	cursor: pointer;
}

.button-texto-blanco .ui-button__content {
	color: #2196f3;
}

.button-texto-blanco .ui-button__icon {
	color: rgb(33 150 243) !important;
}

.button-m .ui-button{
	width: 120px;
}

/*******************ui-modal*****************************/

.ui-modal__header {
	color: #2196f3;
}

.ui-close-button__icon {
	color: #2196f3 !important;
}



/********************Formulario *************************/

.fieldset-form-ingreso {
	border-radius: 20px;
    padding: 10px 25px;
    border-color: #2196f3;
}

.buzon-msj {
	padding: 0px 10px;
    margin: 10px;
}

/* .msj-contenedor-sel:hover { */
/* 	border: 2px solid #2196f3; */
/* 	cursor: pointer; */
/* } */

/* .msj-contenedor-sel:hover .material-icons {	 */
/*     color: #2196f3; */
/* } */

/* .msj-contenedor-sel:hover .msj-cabezal { */
/* 	background-color: #6ab4ec */
/* } */

/* .msj-contenedor:hover { */
/* 	border: 2px solid #2196f3; */
/* 	cursor: pointer; */
/* } */

/* .msj-contenedor:hover .material-icons {	 */
/*     color: #2196f3; */
/* } */

/* .msj-contenedor:hover .msj-cabezal { */
/* 	background-color: #ffffff; */
/* } */

.msj-contenedor {    
	background-color: #2196f3;
   	margin-bottom: 6px;
   	color: white;
    min-height: 120px;
    border-color: #2196f3;
}

.msj-contenedor .material-icons {
	color: #92b1ea;
}

.msj-contenedor-sel {
    color: #a6bcce;
    min-height: 120px;
    margin-bottom: 6px;
}

.msj-contenedor-sel > .msj-cabezal {
	color: white;
    background-color: #9e9e9e;
    border-bottom: 2px solid black;
    padding: 0px 10px;
}

.msj-contenedor-sel .ui-button--type-primary.ui-button--color-primary {
	background-color: rgba(0,0,0,.54);
}

.msj-contenedor-sel .button-texto-blanco .ui-button__content {
    color: #a2b3c1;
}	
	
.msj-cabezal {
	padding: 0px 10px;
    color: white;
    border-bottom: 2px solid #2196f3;
    line-height: 2pc;
}

/* .msj-cabezal:hover { */
/* 	background-color: white; */
/* } */

.msj-pie {
    background-color: #eeeeee;
}

/* .msj-pie .ui-button--type-primary.ui-button--color-default { */
/* 	background-color: #fff; */
/* } */

.msj-pie .ui-button {
	cursor: pointer;
}

.msj-body {
	padding: 5px 10px;
	line-height: 60px;
	background-color: #ffffff;
	border: 10px solid #eeeeee;
    color: black;
}

.title-msj-buzon{
	background-color: #8199ad;
    color: white;
    margin: 0px;
    padding-left: 5px;
    line-height: 33px;
}

.icon-msj {
	display: inline-block;
    float: right;   
    margin: 10px;
}

.cell-title-v {
	background-color: #e1ecff;
    width: 21%;
    font-weight: bold;
}

.row-m {
	line-height: 33px;	
}

.coll-green-blue .ui-collapsible__header {
	color: white;
	background-color: #8199ad;
	font-weight: bold;
}

.coll-green-blue .material-icons {
	color: white;
}

.border-btn-cel {
	border-bottom: 3px solid #e1ecff;
}

.sub-title-msj {
	border-bottom: 2px solid rgb(33, 150, 243);
    border-top: 2px solid rgb(33, 150, 243);
    color: rgb(33, 150, 243);
    padding-left: 14px;
}

.border-btn-blanco {
	border-bottom: 3px solid white;
}

.row-leeido {
	color: #8cc3f1;
}

.cell-susp {
	    text-overflow: ellipsis;
    overflow: hidden;
/*     white-space: nowrap; */
/*     width: 100%; */
/*     display: block; */
}

.pointer {
	cursor: pointer;
}

ui-button {
	cursor: pointer;
}

.btn-trans .ui-button--type-primary.ui-button--color-default {
	background-color: #fff !important;
}

.btn-trans .ui-button__content {
	color: #2196f3 !important;
}

.btn-trans .ui-button__content:nth-child(even) {
    background-color: #fff !important;
}

.btn-trans .ui-button__content:nth-child(odd) {
    background-color: #f8f9fb  !important;
}

.btn-trans .ui-button__icon {
	color: #2196f3 !important;
}

.button-texto-blanco .ui-button__icon {
	color: rgb(33 150 243);
}

.btn-opciones-doc ui-button {
	display: block;
    margin: 5px auto;
    width: 70%;
} 

.button-login .ui-button__icon {
	color: rgb(39 153 243) !important;
}

.ui-button {
	cursor: pointer !important;
}